# Node.js (frontend)
frontend/node_modules/
frontend/build/
frontend/.env
frontend/.cache

# Next.js et autres configurations frontend
frontend/.next/
frontend/out/
frontend/.pnp
frontend/pnpm-debug.log*
frontend/*.tsbuildinfo
frontend/coverage
frontend/.DS_Store
frontend/Thumbs.db

# Python (backend)
backend/__pycache__/
backend/*.pyc
backend/env/
backend/.env
backend/instance/
backend/calculations.db

# Docker
docker-compose.override.yml
*.log
docker-compose*.yaml
**/.env

# VS Code
.vscode/

# OS-specific
.DS_Store        # macOS
Thumbs.db        # Windows

# Tests coverage reports
coverage/
htmlcov/
.tox/
.nox/
.pytest_cache/
__pycache__/
*.cover
*.coverage
.cache
nosetests.xml
coverage.xml
*.coveragerc
*.log

# Environment variables and secrets
*.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# pyenv
.python-version

# pipenv
Pipfile.lock

# Virtualenv
venv/
